# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Flask application files
*.db
*.sqlite3

# IDE/editor folders and files
.vscode/
.idea/

# Environment variable files
.env

# Logs
*.log

# Build and distribution artifacts
build/
dist/
*.egg-info/

# MacOS specific files (if you're on Mac)
.DS_Store

# Windows specific files
Thumbs.db
