{% extends "base.html" %}
{% block title %}Login {% endblock %}

{% block content%}
<div class="container mt-5" style="max-width: 500px;">
    <form action="" method="POST">
        <h3 class="text-center mb-4 text-primary">Login</h3>
        
        <!-- Email Input -->
        <div class="mb-3">
            <label for="email" class="form-label">Email Address:</label>
            <input type="email" class="form-control form-control-lg shadow-sm" id="email" name="email" placeholder="Enter Email" required>
        </div>
        
        <!-- Password Input -->
        <div class="mb-3">
            <label for="password" class="form-label">Enter Password:</label>
            <input type="password" class="form-control form-control-lg shadow-sm" id="password" name="password" placeholder="Enter Password" required>
        </div>
        
        <!-- Submit Button -->
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary btn-lg">Login</button>
        </div>
        
        <!-- Link to Signup -->
        <div class="text-center mt-3">
            <p>Don't have an account? <a href="/signup" class="text-decoration-none text-primary">Sign up</a></p>
        </div>
    </form>
</div>


{% endblock %}



